---
layout: default
---
<a href="{{ "/" | relative_url }}" class="nodecolink">{{ site.theme_config.back_home_text }}</a>
<h1>Abøut Me</h1>
<img src="/images/pic.jpg"
     alt="Flareonz44 Profile Picture"
     width="30%"
     style="float: left; margin-right: 10px;border-radius: 10%;"
     class="responsive-image"/>
<p>I'm Flareønz44, I'm <script>document.write(Math.round(new Date().getFullYear() - 2005));</script>, and I'm passionate about everything related to computers and technology, from electronics to software applications.</p>
<p>I'm a Cybersecurity specialist currently pursuing a Bachelor's degree in Computer Science at university. My main areas of interest include Software Engineering, Cybersecurity, Game Development, and AI/ML.</p>
<p>You can find most of my tech-related activities and other stuff right here.</p>
<p>Other stuff? Yeah, because beneath my computer-geek glitter hides a psychologist (always analyzing people) and a philosopher (always questioning reality and human being).</p>
<p>If you'd like to get in touch, feel free to email me at flareonz44.msg@gmail.com, or you can reach out to me on social media, particularly Twitter or Instagram. Check out my <a href="https://linktr.ee/flareonz44">Linktr.ee</a> for more information!</p>