<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
        {%- include head.html -%}
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VLLBM11CEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VLLBM11CEV');
</script>
  <body onLoad='clearRing()'>
    <script>
      function remRing(){
        document.getElementsByClassName("ring-background")[0].remove();
      }
      function clearRing(){
        document.getElementsByClassName("ring-background")[0].style.opacity = "0";
        setTimeout(remRing, 1100);
      }
      </script>
    <div class='ring-background'>
      <span class='loader'/>
  	</div>
    <main class="page-content" aria-label="Content">
      <div id="top"></div>
      <div class="w">
        <header>
          <h1 class="main_title">{{ site.title }}</h1>
          <p class="main_subtitle">Ｉ＇ｍ       ｗｒｉｔｔｅｎ       ｉｎ       ｃ＋＋</p>
          {% include horizontal_list.html collection=site.data.home.navbar_entries nav=true%}
        </header>
        <div class="dashed"></div>
        {{ content }}
        <div class="dashed"></div>
        <div class="credits">
          •
          &nbsp;
          &copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;Flareonz44
          &nbsp;
          •
          &nbsp;
          <a href="https://linktr.ee/flareonz44">LinkTree</a>
          &nbsp;
          •
        </div>
      </div>
    </main>
  </body>
</html>
