---
layout: default
---

{{ content }}

<p style="padding: 10%;padding-top: 2em;padding-bottom: 0px;">
  <strong>Hey, welcome to The FlareonzVerse!</strong><br>
  Here you can explore everything about me and what I love doing.
  In the <a href="/portfolio">portfolio</a> section you'll discover a collection of projects I've worked on. <br>
  If you want to know a bit more about me, feel free to check out the <a href="/about">about</a> section. <br>
  You can also read some posts I've written below :)
</p>

<h2>Latest blog posts</h2>
{% include post_list_latests.html %}
<a href="blog">View more posts</a>

<h2>Current projects</h2>
{% include card_list_current.html %}
<a href="portfolio">View all projects</a>