---
layout: default
---
<a href="{{ "/" | relative_url }}" class="nodecolink">{{ site.theme_config.back_home_text }}</a>
<h1>{{ site.theme_config.home.title_projects }}</h1>
<p>Here you will find all that I've been working on. Hope you find them interesting!</p>
  <h3>Cyber Security / Hacking Projects</h3>
  {% include card_list.html collection=site.data.home.project_cybersec nav=false %}
  <h3>Game Development Projects</h3>
  {% include card_list.html collection=site.data.home.project_gamedev nav=false %}
  <h3>Misc Projects</h3>
  {% include card_list.html collection=site.data.home.project_misc nav=false %}