---
layout: default
---

<a href="{{ "/" | relative_url }}" class="nodecolink">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-date text-bold">
    <span class="text-upcase"><a href="https://linktr.ee/flareonz44" class="nodecolink" style="color: var(--text-secondary);">{{ page.author }}</a></span>
    -
    <span class="text-upcase">{{ page.date | date: "%B %d %Y"}}</span>
</p>

<div class="">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
</div>
{{ content }}
<br>
<div style="display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: space-between;
justify-content: space-evenly;
align-items: center;">
    <a href="{{ "/" | relative_url }}" class="nodecolink">{{ site.theme_config.back_home_text }}</a>
    <a href="https://linktr.ee/flareonz44" class="nodecolink">LinkTree</a>
    <a href="#top" class="nodecolink">⤴ top</a>
</div>